<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
    <title> Jodimaker | Search results</title>
    <link rel="stylesheet" href="../css/matches.css">

</head>

<body>

    <section>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top" id="nav-bar">
            <div class="container">
                <a class="navbar-brand text-white" href="/"><img src="img/jodi.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto text-white">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="/home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/matches">My Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="search">Search</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a href="profile">
                                    <div class="avatar-upload mt-0 mb-0">
                                        <div class="avatar-preview img-small">
                                            <div id="imagePreview"
                                                style="background-image: url({{user.Profile.Profile1.photo}});">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="profile"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="setting">Settings</a>
                                    <a class="dropdown-item" href="userpref">Partner Preferences</a>
                                    <a class="dropdown-item text-danger" href="logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </section>


    <section>
        <div class="container ">
            <div class="row">

                <div class="col-md-12 mt-5 mx-auto">
                    <div class="row">
                        {{#each matches}}
                        <div class="col-md-4 mt-5">
                            <div class="card">
                                <div class="card-body text-center">
                                    <a href="/matchprofile?id={{_id}}"><img class="avatar rounded-circle"
                                            src="{{Profile.Profile1.photo}}" alt="Bologna"></a>
                                    <h5 class="card-title">{{Profile.Profile1.name.firstname}}
                                        {{Profile.Profile1.name.lastname}},
                                        {{Profile.Profile2.age}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{Profile.Profile2.height}},
                                        {{Profile.Profile2.maritialstatus}}</h6>
                                    <p class="card-text">{{Profile.Profile1.location.city}}</p>
                                    <a class="btn btn-outline-secondary">Message</a>
                                    <input type="hidden" class="userid" value="{{_id}}">
                                    {{#if sent}}
                                    <a class="btn btn-success  text-white">Sent</a>

                                    {{else}}
                                    <a class="btn btn-wine connect text-white">Connect</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <div class="col-md-9 mt-5 offset-2">

                            {{#unless matches}}
                            <h5>No current matches for this search.</h5>
                            <h5> We'll have new matches for you soon.</h5>
                            {{/unless}}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>



    {{!-- <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav> --}}
</body>



{{!-- bootstrap scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="../js/matches.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>


</html>